@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
 <link rel="stylesheet" href="~/Content/css/page.css">
}

<div id="content">

	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.1230824952568!2d121.53954121543427!3d25.02989674460886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa2b6e8b0c33%3A0xc3ae763e6abe22b4!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A55Ge5a6J6KGXMTQy5be3MjLomZ8!5e0!3m2!1szh-TW!2stw!4v1466131669106" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>

	<ul>
		<li>地址：台北市大安區瑞安街142巷22號1樓 [ <a href="https://goo.gl/maps/CfRZD6w56Br" target="_blank">Google地圖</a> ]<br>Address: 1F., No.22, Ln. 142, Rui’an St., Da’an Dist., Taipei City 106, Taiwan (R.O.C.)</li>
		<li>TEL： +886-2-2703-6099 <br> FAX： +886-2-2703-7099</li>
		<li>Models Submission / Scouting：<a href="mailto:mable@fdmodel.com.tw">mable@fdmodel.com.tw</a><br>
			Bookings：<a href="mailto:mable@fdmodel.com.tw">mable@fdmodel.com.tw</a>&nbsp;&nbsp;&nbsp; <a href="mailto:eric@fdmodel.com.tw">eric@fdmodel.com.tw</a></li>
	</ul>

</div><!-- content //-->