@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/index.css">
}

<div id="banner">
	<div class="slider_container">
		<div>
			<img src="~/Content/images/banner/image1.jpg" alt="pure css3 slider" />
		</div>
		<div>
			<img src="~/Content/images/banner/image2.jpg" alt="pure css3 slider" />
		</div>
		<div>
			<img src="~/Content/images/banner/image3.jpg" alt="pure css3 slider" />
		</div>
	</div>
</div>