@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/page.css">
}

<div id="content">
	<p>FASHION DIVISION is a new establish and high qualified modeling agency with a very strong background team of bookers in the Taiwanese market . Our agency has the target to establish new networks not only in the modeling fields , but also on movies , TV dramas , TV shows , etc... making all of the networks as one to promote our models and celebrities in the fashion industry .</p>
	<p>Cooperating with agencies all around the world , FASHION DIVISION has the source to present to our clients very high qualified models .</p>
	<p>FASHION DIVISION is looking forward to hear from you .</p>
</div><!-- content //-->