@{
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
	<link rel="stylesheet" href="~/Content/css/page.css">
}

<div id="content">
	<p>MC² Model Agency was established in March 2001, we have high qualified modeling agency with a very strong background team of bookers in the Taiwanese market. Our agency has established new networks not only in the modeling fields, but also on movies, TV dramas, TV shows, etc…. making all of the networks as one to promote our models and celebrities in the fashion industry.</p>
	<p>Cooperating with agencies all around the world , MC² Model Agency has the source to present to our clients very high qualified models . Our agency brand mind is creative a safety, comfortable and trust. Let our foreign models have heart-easy working environment.</p>
	<p>MC² Model Agency is looking forward to hear from you.</p>
</div><!-- content //-->