@charset "utf-8";

@import "base/basic.css";
@import "base/layout.css";

#banner {
	margin:10px 0 10px;
}
.slider_container{
	margin: 30px auto;
    width: 976px;
    height: 522px;
    position: relative;
    background-color: #000;
    box-shadow: #666 0 0 5px;
}
.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);


    -webkit-animation: round 8s linear infinite;
            animation: round 8s linear infinite;
}


@-webkit-keyframes round {
    12.5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1s in*/
    }
    50% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 4s stop*/
    }
    62.5% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 4-5s out*/
    }
}
@keyframes round {
    12.5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1s in*/
    }
    50% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 4s stop*/
    }
    62.5% {
        opacity: 0;
        filter: alpha(opacity=0);
       	/* 4-5s out*/
    }
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}